html,
body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.container {
    min-width: 1080px;
    width: 100%;
    height: 100%;
    min-height: 1900px;
    padding: 0;
    margin: auto;
    background-color: #1f2c52;
}

.home_content {
    position: relative;
    width: 100%;
    height: 1176px;
    min-width: 1080px;

}

.home_bg_image {
    width: 100%;
    height: 100%;

}

.cover_blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-blend-mode: lighten;
    background-image: linear-gradient(148deg, rgba(31, 44, 82, 0.94), rgba(255, 62, 151, 0.6));
}

.home_header_container {
    height: 744px;
}

.home_content_title {
    position: absolute;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 58px;
    letter-spacing: normal;
    color: #ffffff;
    left: 30px;
    top: 100px;
}

.home_content_button {
    position: absolute;
    width: 801px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #ffffff, #e4e4e4);
    z-index: 90;
    display: flex;
    padding: 25px;
    align-items: center;
}

.button_href {
    width: 100%;
    height: 100%;
    z-index: 100;
    text-decoration: none;
}

.home_content_button:hover {
    background-image: linear-gradient(to bottom, #ffffff, #bcbcbc);
}

.location {
    top: 208px;
    left: 24px;
}

.interview {
    top: 468px;
    left: 256px;
}

.experience {
    top: 728px;
    left: 24px;
}

.content_btn_num {
    max-width: 30%;
    height: 100%;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
    font-family: PTSans;
    font-size: 105px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: normal;
    color: #ff3e97;
    margin-right: 20px;
}

.content_arrow_btn {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: solid 1px #1f2c52;
    position: absolute;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_img {
    width: 37px;
    height: 36px;
    color: #1f2c52;
}

.content_btn_text {
    font-weight: 700;
    color: #1f2c52;
}

.text_en {
    height: 50px;
    width: 100%;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 2.2em;
}

.text_zh {
    height: 45px;
    width: 100%;
    font-size: 1.8em;
}

.header_fastjob {
    height: 371px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fastjob_logo {
    width: 721px;
    height: 202px;
}

.header_today_jobs_list {
    width: 100%;
    height: 257px;
    margin-bottom: 28px;
    background-color: transparent;
}

.header_today_title {
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}

.job_list_header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.job_list_header_title {
    font-size: 65px;
    font-weight: 700;
    line-height: 69px;
    color: #ffffff;
    display: flex;
}

.job_list_main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job_list_bottom_container {
    width: 100%;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job_list_container {
    width: 750px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.job_filter_container {
    width: 296px;
    height: 1200px;
    border-radius: 10px;
    border: solid 1px #868b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

.arrow_left_img {
    width: 72px;
    height: 69.2px;
    margin-right: 30px;
}

.job_card_container {
    margin-bottom: 50px;
}

.filter_title {
    height: 38px;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.filter_button {
    width: 265px;
    height: 80px;
    border-radius: 10px;
    border: solid 1px #e4e4e4;
    background-color: #e8e8e8;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 33px;
    padding: 24px;
    text-align: center;
    color: #777777;
}

.filter_divider {
    width: 265px;
    height: 1px;
    border: solid 1px #868b9b;
    margin: 50px 0;
}

.detail_title {
    font-size: 65px;
    font-weight: 700;
    color: #1f2c52;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: normal;
}

.detail_location {
    /* height: 38px; */
    font-size: 32px;
    font-weight: 700;
    /* line-height: 38px; */
    color: #222222;
    padding: 20px 0;
}

.detail_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.detail_container_left {
    width: 60%;
    height: 100%;
}

.detail_desc {
    font-size: 24px;
    color: #222222;
    min-height: 330px;
}

.detail_post_info_container {
    width: 100%;
    height: 166px;
    border: solid 1px #dcdcdc;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    margin: 30px 0;
}

.post_info_content {
    font-size: 24px;
    color: #222222;
    text-align: left;
    margin-left: 20px;
}

.post_info_icon {
    height: 89px;
    max-width: 180px;
    min-width: 180px;
    object-fit: contain;
}

.detail_container_right {
    width: 40%;
    height: 100%;
    padding: 0 45px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 280px;
    width: 400px;
    left: 58%;
}

.apply_container {
    height: 341px;
    border-radius: 10px;
    border: solid 1px #cacaca;
    background-color: #1f2c52;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apply_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.apply_divider {
    height: 2px;
    border: solid 1px #c0c0c0;
    margin: 25px 0;
    width: 100%;
}

.apply_button {
    width: 246px;
    height: 63px;
    border-radius: 5px;
    border: solid 1px #bb2e6f;
    background-color: #ff3e97;
    font-size: 23px;
    font-weight: 700;
    /* line-height: 63px; */
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.back_to_list_button {
    width: 246px;
    height: 63px;
    border-radius: 5px;
    border: solid 1px #6f6f6f;
    background-color: rgba(255, 255, 255, 0);
    font-size: 23px;
    font-weight: 700;
    line-height: 63px;
    color: #c0c0c0;
    text-align: center;
}

.apply_text_from {
    width: 100%;
    font-size: 2.1em;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 41px;
    letter-spacing: normal;
    color: #ffffff;
}

.apply_text_salary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 241px;
    font-size: 2.1em;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(34, 34, 34, 0.75);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 55px 68px;
    width: 722px;
    height: 789px;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.07);
    background-color: #1f2c52;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.confirm-modal-content {
    background-color: #fefefe;
    margin: 22% auto;
    padding: 55px 68px;
    width: 522px;
    height: 589px;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.07);
    /* background-color: #1f2c52; */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.submit_step_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.enter-your-phone-num {
    width: 612px;
    height: 130px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 55px;
}

.input-phone-num {
    width: 504px;
    height: 80px;
    border: solid 1px #cbcbcb;
    background-color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}

::placeholder {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #e0e0e0;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #e0e0e0;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #e0e0e0;
}

.phone-num-desc {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    width: 504px;
}

.submit_phone_button {
    width: 504px;
    height: 92px;
    border-radius: 5px;
    border: solid 1px #bb2e6f;
    background-color: #ff3e97;
    margin-top: 65px;
    font-size: 38px;
    font-weight: 700;
    line-height: 92px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.submit_phone_button:disabled {
    border: solid 1px #c0c0c0;
    background-color: #c0c0c0;
}

.close_modal {
    width: 504px;
    height: 92px;
    border-radius: 5px;
    border: solid 1px #cacaca;
    background-color: #1f2c52;
    font-size: 38px;
    font-weight: 700;
    line-height: 92px;
    text-align: center;
    color: #c0c0c0;
    margin-top: 20px;
    cursor: pointer;
}

.paginationjs-prev {
    width: 85px !important;
    height: 85px !important;
    border: solid 1px #ffffff !important;
    background-color: transparent !important;
    border-radius: 42.5px !important;
    color: #ffffff !important;
}

.paginationjs-next {
    width: 85px !important;
    height: 85px !important;
    background-color: transparent !important;
    border: solid 1px #ffffff !important;
    border-radius: 42.5px !important;
}

.paginationjs-next a {
    color: #ffffff !important;
    height: 85px !important;
    line-height: 85px !important;
    font-weight: 700 !important;
    width: 85px !important;
    font-size: 4em !important;
}

.paginationjs-prev a {
    color: #ffffff !important;
    height: 85px !important;
    line-height: 85px !important;
    font-weight: 700 !important;
    width: 85px !important;
    font-size: 4em !important;
}

.paginationjs-pages li {
    /* float: left; */
    border: 1px solid #ffffff;
    background-color: #ffffff;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 85px;
    align-items: center;
    justify-content: center;
    border-radius: 42.5px;
    margin: 10px;
}

.paginationjs-pages li>a:hover {
    background: transparent !important;
}

.paginationjs-pages li>a {
    height: 44px;
    font-size: 2em !important;
    font-weight: 700;
    line-height: 44px;
    color: #222222;
    background-color: transparent !important;
    text-align: center;
}

.paginationjs-pages .active {
    background-color: #ff3e97;
}

.paginationjs-pages li.active>a {
    background: #ff3e97 !important;
    color: #fff;
}

.success_msg {
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #b8e986;
    margin-bottom: 50px;
}

.failed_msg {
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f46b7c;
    margin-bottom: 30px;
}

.success_text {
    width: 500px;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.fixed_top {
    position: fixed;
    top: 0;
    background-color: white;
    padding-top: 20px;
}
.flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}