/*START: min from small to big*/
@media screen and (min-width: 451px){
}
@media screen and (min-width: 620px) {
}
@media screen and (min-width: 660px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1200px) {
    
}
/*END: min from small to big*/
/*START: max from big to small*/
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
    

}
@media screen and (min-width: 990px) {
    
}
@media screen and (max-width: 990px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 767px) {
   
    
}
@media screen and (max-width: 728px) {
    
}
@media screen and (max-width: 660px) {
    
}
@media screen and (max-width: 620px) {
    
}
@media screen and (max-width: 520px) {
    
}
@media screen and (max-width: 457px){
    
}
@media screen and (max-width: 450px){
    
}
@media screen and (max-width: 360px){
    
}
/*END: max from big to small*/